body {
	text-align: center;
        font-family: Calibri;
}

A:link{
        text-decoration:none;
        color:blue;
}

A:visited {
        text-decoration: none;
        color: blue;
}

A:hover {
        text-decoration: none;
        color: red;
}
/* Pre wrap source: http://users.tkk.fi/~tkarvine/pre-wrap-css3-mozilla-opera-ie.html */
pre {
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.sectionHeaderText{
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin-top: 0px;
	padding-top: 5px;
	padding-left: 5px;
}
.sectionHeader{
	background-color: #e3e6e9;
	height: 40px;
	border: thin #b3b6b9 solid;
	margin-bottom: 25px;
	overflow: hidden;
}
.sectionHeaderError{
	background-color: #e09090;
	height: 40px;
	border: thin #b06060 solid;
	margin-bottom: 25px;
}
.header {
	text-align: center;
	font-size: 18px;
	color: #b3b6b9;
	max-width: 1000px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.content {
	max-width: 1024px;
	min-width: 600px;
	text-align: left;
	margin: auto;
}
